:root {
  --header-backgrond-color: #fff;
  --primary-color: #00b14f;
  --header-button-dark: #161f29;
}

/* general */
.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.btn-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.btn-circle:hover {
  background-color: var(--primary-color);
  color: white;
}

.border-primary {
  border: 1px solid var(--primary-color);
}

.border-base {
  border: 1px solid #ccc;
}

.border-base:hover {
  border: 1px solid var(--primary-color);
}

/* header */
.header {
  background-color: var(--header-background-color);
  height: 72px;
  font-size: 14px;
}

.button-group-login {
  width: 470px;
}

.nav-tab:hover > button {
  color: var(--primary-color);
  cursor: pointer;
}

.submenu-item {
  width: 400px;
  background-color: white;
  padding: 12px;
}

.submenu-item > li:hover {
  color: var(--primary-color);
}

.btn-login:hover,
.btn-signup:hover,
.header-button:hover {
  opacity: 0.8;
}

.btn-login {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-signup {
  background-color: var(--primary-color);
}

.header-button {
  background-color: var(--header-button-dark);
}

/* footer */
.col-index li:hover {
  color: var(--primary-color);
  transition: all;
  transition-duration: 200ms;
}

/* home - seach input */
.btn-search {
  background-color: var(--primary-color);
  color: white;
}

.btn-search:hover {
  background-color: var(--primary-color);
  color: white;
  opacity: 0.8;
}
